<%= render "shared/header" %>

<div class="main">

  <%# トップページ写真帯の部分 %>
  <div class="title-contents">
    <h2 class="service-title">
      離れて過ごす家族の絆を深めよう
    </h2>
    <p class='service-explain'>
      毎日電話で連絡を取るのは大変。<br>
      家族が今どこにいるかを知ることで安心でき、また、知ってもらうことで安心して生活することができます。<br>
      さらに、定期的に連絡を取り合って家族の絆を深めよう。<br>
    </p>
  </div>
  <%# トップページ写真帯の部分 %>
    
  <%# アプリ機能一覧 %>  
  <div class='menu'>
    <ul class='menu-lists'>
      <li class="kaeru-wrap-b">
        <h3 class="kaeru-box-b">
          外出<br>
          帰宅
        </h3>
      </li>
      <li class="kaeru-wrap-b">
        <h3 class="kaeru-box-b">
          日記
        </h3>
      </li>
      <li class="kaeru-wrap-b">
        <h3 class="kaeru-box-b">
          メモ
        </h3>
      </li>
    </ul>
  </div>
  <%# アプリ機能一覧 %>


</div>
<%= render "shared/footer" %>