* {
  box-sizing: border-box;
}

.top-page-header{
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #9be8e0;
  margin: 0;
  padding: 0;
}

.top-page-h-contents{
  max-width: 100%;
  align-items: center;
}

.app-ping-icon{
  width: 5vw;
  border-radius: 50px;
}

a.header-icon{
  white-space: nowrap;
  max-width: 20vw;
  margin: auto 0;
  padding-left: 15px;
  font-size: 6vw;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Lilita One', cursive;
}

.lists-right{
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
  width: 45vw;
  margin: 0;
  padding: 0;
}

.lists-right li {
  margin-right: 2vw; /* アイテム間の間隔を調整 */
}

.login{
  max-width: 100%;
  display: flex;
  text-decoration: none;
  color:#64a19b;
  font-size: 2.5vw;
  border: solid #ffffff;
  background: #ffffff;
  border-radius: 10px;
  font-family: 'Noto Sans JP', sans-serif;
}

.sign-up{
  max-width: 100%;
  display: flex;
  text-decoration: none;
  color:#64a19b;
  font-size: 2.5vw;
  border: solid #ffffff;
  background: #ffffff;
  border-radius: 10px;
  font-family: 'Noto Sans JP', sans-serif;
}

.user-nickname{
  max-width: 100%;
  display: flex;
  text-decoration: none;
  color:#64a19b;
  font-size: 2.5vw;
  border: solid #ffffff;
  background: #ffffff;
  border-radius: 10px;
  font-family: 'Noto Sans JP', sans-serif;
}

.logout{
  max-width: 100%;
  display: flex;
  text-decoration: none;
  color:#64a19b;
  font-size: 2.5vw;
  border: solid #ffffff;
  background: #ffffff;
  border-radius: 10px;
  font-family: 'Noto Sans JP', sans-serif;
}