* {
  box-sizing: border-box;
}

.top-page-header{
  max-width: 100%;
  height: auto;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
  background-color: #9be8e0;
}

.top-page-h-contents{
  width: 75vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-ping-icon{
  width: 5vw;
  border-radius: 50px;
}

.header-icon{
  width: 10vw;
  margin-right: 10vw;
  font-size: 40px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.lists-right{
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
  width: 100vw;
}

.login{
  max-width: 100%;
  display: flex;
  text-decoration: none;
  color:#64a19b;
  font-size: 30px;
  border: solid #ffffff;
  background: #ffffff;
  border-radius: 10px;
  margin-right: 35px;
}

.sign-up{
  max-width: 100%;
  display: flex;
  text-decoration: none;
  color:#64a19b;
  font-size: 30px;
  border: solid #ffffff;
  background: #ffffff;
  border-radius: 10px;
}

.user-nickname{
  max-width: 100%;
  display: flex;
  text-decoration: none;
  color:#64a19b;
  font-size: 30px;
  border: solid #ffffff;
  background: #ffffff;
  border-radius: 10px;
  margin-right: 35px;
}

.logout{
  max-width: 100%;
  display: flex;
  text-decoration: none;
  color:#64a19b;
  font-size: 30px;
  border: solid #ffffff;
  background: #ffffff;
  border-radius: 10px;
}