* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #9be8e0;
  
}

.top-page-h-contents{
  display: flex;
  justify-content: flex-start;
}

.app-ping-icon{
  width: 5vw;
  border-radius: 50px;
}

.header-icon{
  width: 10vw;
  margin-right: 10vw;
  font-size: 40px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-family:Georgia, 'Times New Roman', Times, serif;
}