<footer class='top-page-footer'>
  <h2 class='footer-page-contents'>BCONについて</h2>
    <ul class="footer-lists">
      <li><%= link_to '〜　会社概要(運営会社)　〜', "#", class: "footer-link" %></li>
      <li><%= link_to '〜　プライバシーポリシー　〜', "#", class: "footer-link" %></li>
      <li><%= link_to '〜　BCON利用規約　〜', "#", class: "footer-link" %></li>
    </ul>
  <div class="footer-page-icons">
    <p class="footer-logo">© BCON</p>
  </div>    
</footer>

