<div class='top-page-footer'>
      <h2 class='footer-page-contents'>FamilyBondについて</h2>
        <ul class="footer-lists">
          <li><%= link_to '〜　会社概要(運営会社)　〜', "#", class: "footer-link" %></li>
          <li><%= link_to '〜　プライバシーポリシー　〜', "#", class: "footer-link" %></li>
          <li><%= link_to '〜　FamilyBond利用規約　〜', "#", class: "footer-link" %></li>
        </ul>
</div>

<div class="top-page-footer-second">
  <div class="footer-page-icons">
    <p class="footer-logo">© FamilyBond</p>
  </div>  
</div>  