.main {
  background: #9be8e0;
  max-width: 100%;
  height: 100%;
  padding-top: 220px;
}

.sign-up-explanation{
  color: #000000;
  text-align: center;
}

.sign-ex1{
  font-size: 2.4vw;
  text-align: center;
  color: #00863c;
  padding-bottom: 20px;
  font-family: 'Noto Sans JP', sans-serif;
}

.sign-ex2{
  font-size: 2vw;
  text-align: center;
  color: #00863c;
  font-family: 'Noto Sans JP', sans-serif;
}

a.new-family-account{
  text-decoration: underline;
  color: #00863c;
  font-size: 2vw;
  font-weight: lighter;
  border-radius: 10px;
  font-family: 'Noto Sans JP', sans-serif;
}

.title-contents {
  max-width: 100%;
  height: auto;
  background-image: image-url('23337252_s.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title{
  font-size: 8vh;
}

.service-explain{
  font-size: 3vh;
  line-height: 50px;
}

.menu{
  max-width: 100%;
  height: auto;
  display: flex;
}

ul.menu-lists{
  max-width: 100%;
  display: flex;
  margin: 0 auto;
  padding: 0;
}


.kaeru-wrap-b{
  display: flex;
  flex-wrap: wrap;
  list-style:none;
  font-size: 1.6vw;
  background: #9be8e0;
}

li.kaeru-wrap-b{
  padding: 0 8px;
}

.kaeru-wrap-b:hover{
  transform: translateY(-20px);
}

a.kaeru-box-b{
  font-family: 'Noto Sans JP', sans-serif;
  position: relative;
  margin: 5em auto 3em;
  padding: 15px 20px;
  width: 100%; 
  background: #9BD002; 
  color: #ffffff; 
  font-weight: bold; 
  text-align: center; 
  border: 15px solid #9BD002;
  border-radius: 50px;
  z-index: auto;
  text-decoration: none;
  border-bottom: 5px solid red;
}

.kaeru-box-b::before, 
.kaeru-box-b::after {
   height: 1.4em;
   width: 1.4em;
   border-radius: 50%;
   position: absolute;
   background: #333333; 
   border: 1em solid #9BD002; 
   content:'';
   top: -3em;
   z-index: -10;
}
.kaeru-box-b::before { left: 0.8em;}
.kaeru-box-b::after { right: 0.8em;}
.kaeru-wrap-b{
  background-color: transparent;
  position: relative;
  z-index: 0;
}

/* スマートフォン用スタイル */
@media screen and (max-width: 767px) {
  .kaeru-wrap-b {
    flex-direction: column;
  }

  li.kaeru-wrap-b {
    padding: 32px 4px;
  }

  .kaeru-box-b {
    margin: 1em auto 0.5em;
    padding: 8px 12px;
    border: 8px solid #9BD002;
    border-radius: 20px;
  }

  .kaeru-box-b::before,
  .kaeru-box-b::after {
    height: 3.5em;
    width: 3.5em;
    top: -7.5em;
    border: 2em solid #9BD002;
  }

  .kaeru-box-b::before {
    left: 0.1em;
  }

  .kaeru-box-b::after {
    right: 0.1em;
  }
}

.family-members{
  max-width: 100%;
  height: auto;
  text-align: center;
  font-family: 'Lilita One', cursive;
  font-size: 6vw;
}

.family-display{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  background: #9be8e0;
  text-align: center;
  list-style: none;
  padding: 10px 0;  
  justify-content: left;
  margin: 0 auto;
  max-width: 100%;
}

.display-list{
  width: calc(50% - 8vw);
  border: solid 1px #333333;
  background: #cef9f5;
  margin: 0 4vw 2vw;
  border-radius: 30px;
}

h3.family-name{
  font-size: 3vw;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

.situation-image{
  position: relative;
  width: 100%;
  text-align: center;
}

.frog-jamp-image{
  max-width: 15vw;
  margin: 0 auto;
  animation: rotateAnimation 9s infinite;
}

@keyframes rotateAnimation {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg); /* 180度で中間点で回転 */
  }
  100% {
    transform: rotateY(360deg);
  }
}

img.task-mark-image{
  width: 5vw; /* 幅をビューポート幅の5%に設定 */
  height: 5vh; /* 高さをビューポート高さの5%に設定 */
  position: absolute;
  bottom: 5.6vh; /* 下端からの距離をビューポート高さの5%に設定 */
  right: 9vw; /* 右端からの距離をビューポート幅の10%に設定 */
}

/*.memo-ari{
  position: relative;
  margin-top: auto;
} */

a.memo-link{
  text-decoration: none;
  color: rgb(142, 2, 2);
  font-size: 1.6vw;
  font-family: 'Noto Sans JP', sans-serif;
  animation: colorChange 3s infinite alternate; /* 色変化アニメーションを適用 */
}

@keyframes colorChange {
  0% {
    color: #cef9f5;
  }
  100% {
    color: #ff0000; /* 変化後の色 */
  }
}


.datetime{
  max-width: 30vw;
  margin: 8px auto;
  border: #53c7bc solid 1px;
  background-color: #53c7bc;
  border-radius: 10px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.6vw;
  padding: 8px 0;
}

.font-color-change{
  font-size: 2vw;
}

.family-account-contents{
  max-width: 100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  width: 100vw;
  margin: auto;
  padding: 0;
}

.family-account-new{
  text-decoration: none;
  color:#64a19b;
  font-size: 30px;
  border: solid #ffffff;
  background: #ffffff;
  border-radius: 10px;
  margin-right: 60px;
}

.family-account-login{
  text-decoration: none;
  color:#64a19b;
  font-size: 30px;
  border: solid #ffffff;
  background: #ffffff;
  border-radius: 10px;
}

.family-accounts-need{
  margin: 0 auto;
  text-align: center;
}

.time-font-style{
  font-weight: bolder;
  background-color: #53c7bc;
  font-size: 2.4vw;
  max-width: 100%;
  margin: 0 auto;
  background-color: #53c7bc;
  border-radius: 15px;
  font-weight: bold;
}

.post-time{
  margin: 0 auto;
  font-size: 1vw;
}

.delet-botton{
  font-weight: bold;
  text-align: end;
  padding-right: 24px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.6vw;
  margin: 0;
}

/* 表示領域をviewportの設定 */
/* メディアクエリとは、表示された画面幅に応じて適用するスタイルを切り替える機能,ブレークポイントとは、メディアクエリによって規定されるスタイル適用の分岐点を指します。
@media (max-width: 500px){ }の場合は500pxがブレークポイント */
/* パソコン表示 */
p {
  font-size: 30px;
 }
 
 /* タブレット表示時 */
 @media (max-width: 1000px) {
   p {
     font-size: 25px;
     overflow: auto;
   }
 }
 
 /* スマホ表示時 画面幅が500px以下の時にのみ、pタグのfont-sizeを10px */
 @media (max-width: 500px) {
   p {
     font-size: 20px;
     overflow: auto;
   }
 } 

 body {
  cursor: url('icons8-カーソル-26.png'), auto;
}

a:hover {
  cursor:url('icons8-ハンドカーソル-50.png'), auto;
}