.main {
  background: #9be8e0;
  max-width: 100%;
  height: 100%;
  padding-top: 220px;
}

.title-contents {
  max-width: 100%;
  height: auto;
  background-image: image-url('23337252_s.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title{
  font-size: 8vh;
}

.service-explain{
  font-size: 3vh;
  line-height: 50px;
}

.menu{
  max-width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu-lists{
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.kaeru-wrap-b{
  display: flex;
  flex-wrap: wrap;
  padding-right: 77px;
  list-style:none;
  font-size: 20px;
  background: #9be8e0;
}

.kaeru-box-b{
  font-family:inherit;
  position: relative;
  margin: 5em auto 3em;
  padding: 15px 20px;
  width: 100%; 
  background: #9BD002; 
  color: #ffffff; 
  font-weight: bold; 
  text-align: center; 
  border: 15px solid #9BD002;
  border-radius: 50px;
  z-index: auto;
  text-decoration: none;
  border-bottom: 5px solid red;
}

.kaeru-box-b::before, 
.kaeru-box-b::after {
   height: 30px;
   width: 30px;
   border-radius: 50%;
   position: absolute;
   background: #333333; 
   border: 20px solid #9BD002; 
   content:'';
   top: -65px;
   z-index: -10;
}
.kaeru-box-b::before { left: 100px;}
.kaeru-box-b::after { right: 100px;}
.kaeru-wrap-b{
  background-color: transparent;
  position: relative;
  z-index: 0;
}

.family-members{
  max-width: 100%;
  height: auto;
  text-align: center;
}

.family-display{
  background: #9be8e0;
  text-align: center;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 30px 0;  
  margin: 0;
}

.display-list{
  border: solid 1px #333333;
  background: #cef9f5;
  width: 80vw;
  margin: auto;
  margin-bottom: 15px;
}

.datetime{
  font-weight: bold;
}

.family-account-contents{
  max-width: 100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  width: 100vw;
  margin: auto;
  padding: 0;
}

.family-account-new{
  text-decoration: none;
  color:#64a19b;
  font-size: 30px;
  border: solid #ffffff;
  background: #ffffff;
  border-radius: 10px;
  margin-right: 60px;
}

.family-account-login{
  text-decoration: none;
  color:#64a19b;
  font-size: 30px;
  border: solid #ffffff;
  background: #ffffff;
  border-radius: 10px;
}

.family-accounts-need{
  margin: 0 auto;
  text-align: center;
}

.time-font-style{
  font-weight: bolder;
  margin: auto;
  background-color: #9BD002;
  font-size: larger;
  width: 15vw;

  border: #333333 solid 1px;
  margin: auto;
  background-color: #9BD002;
  margin-bottom: 10px;
  border-radius: 15px;
}


  
 